[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "public"]
	path = public
	url = git@github.com:cassidycodes/cassidycodes.github.io.git
	branch = master
[submodule "themes/HugoTeX"]
	path = themes/HugoTeX
	url = https://github.com/HelloRusk/HugoTeX
