$dark: #161d26;
$dark-ui: #283445;
$light-ui: #fff;
$icon-size: 45px;

html {
  font-family: Georgia, "Times New Roman", times, serif;
  font-size: 16px;

  @media (min-width: 600px) {
    font-size: 18px;
  }
}

body {
  transition: all 300ms ease;

  &.dark {
    background-color: $dark;

		h1, p {
			color: $light-ui;
		}
  }
}

main, footer, .nav-container {
  width: 90%;
  @media (min-width: 600px) {
    width: 80%;
  }
}

pre {
  overflow-x: scroll;
}

.post {
  &-title {
    font-size: 2rem;
    @media (min-width: 600px) {
      font-size: 4rem;
    }
  }
}

.dark-mode-toggle {
  width: $icon-size;

  .mask {
    width: $icon-size;
    height: $icon-size;
    overflow: hidden;

    .icon-wrap {
      padding: $icon-size/4;
      transition: all 300ms 400ms ease;

      &:last-child {
        transform: translatey(-$icon-size);
      }
    }

    .icon {
      width: $icon-size/2;
      height: $icon-size/2;
      border-radius: 50%;
    }

    .active {
      transition-delay: 100ms;

      &:first-child {
        transform: translatey($icon-size);
      }

      &:last-child {
        transform: translatey(0);
      }
    }

    .sun {
      background-color: $light-ui;
    }

    .moon {
      background-color: $dark-ui;
    }
  }

  .bar {
    width: 40%;
    height: 5px;
    margin: 0 auto;
    background-color: $dark-ui;
    transition: all 300ms 100ms ease;

    &.dark {
      background-color: $light-ui;
    }
  }
}
