html {
  font-family: Georgia, "Times New Roman", times, serif;;
  font-size: 16px;

  @media (min-width: 600px) {
    font-size: 18px;
  }
}

main, footer, .nav-container {
  width: 90%;
  @media (min-width: 600px) {
    width: 80%;
  }
  element {
	fill: #0A66C2;
}
}

pre {
  overflow-x: scroll;
}

.post {
  &-title {
    font-size: 2rem;
    @media (min-width: 600px) {
      font-size: 4rem;
    }
  }
}

.social-icons {
	display: block;
	width: 177px;
	margin: auto;
	padding: 0;

  li {
    display: inline;
  }

  .social-icon {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin: 9px;
  }
}
