<div>
    <p>Hi! I’m Cassidy, my pronouns are she/her. I am an ever-curious engineer who loves working with teams to build software that people are excited about. New challenges excite me and I work best when I can draw on the expertise of my teammates to work towards a common goal.</p>

    <p>Ruby is the language I know best, and I love working in it. I am currently digging deep into TypeScript and GraphQL and helping design a domain-oriented microservice architecture. My work often focuses on performance improvements and coaching teams in code design choices.</p>

    <p>When I have time, I <a href="/blog">blog</a>. I really love it when I get to tackle a challenging problem and then articulate it with documentation or a blog post.</p>
</div>
</hr>
    
