<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{- if eq .Permalink "/" }}
			<meta name="description" content="{{ .Site.Params.Description }}">
		{{- else if .Description }}
			<meta name="description" content="{{ .Description }}">
		{{- end }}

		<title>
			{{- if eq .Permalink "/" }}
				{{ .Site.Title }}
			{{- else }}
				{{ .Title }} &middot; {{ .Site.Title }}
			{{- end }}
		</title>

		<!-- CSS -->
		{{- $inServerMode	:= .Site.IsServer }}
		{{- $cssTarget := "css/style.css" }}
		{{- $cssOptions := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
		{{- $style := resources.Get "scss/main.scss" | toCSS $cssOptions }}
 		<link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <!-- JS -->
		{{- $javascript := resources.Get "javascript/main.js" }}
    {{- $js := cond ($inServerMode) ($javascript) ($javascript | resources.Minify) }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<link rel="manifest" href="/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<!-- RSS -->
    <!-- FIXME Link doesn't render-->
    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end  }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    <!-- SEO -->
    {{ partial "seo-schema" .  }}
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ template "_internal/opengraph.html" .  }}
    {{ template "_internal/twitter_cards.html" .  }}
	</head>

